*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* border: 1px solid red ; */
    box-sizing: border-box;
}
html{
    background-color: rgba(24, 46, 193, 0.629);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
#parent{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 80vh;
    width: fit-content;
    float: left;
}
header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
#bg{
    height: fit-content;
    width: 9vw;
    border: 5px solid blueviolet ;
    background-color: rgb(226, 52, 226);
    border-radius: 2em;
    align-items: flex-start;
    min-width: 100px;
}

a{
    text-decoration: none;
}

.img{
    border-radius: 50%;
    height: 8.5vw;
    padding: 1vw;
    cursor: pointer;
    min-height: 6.5vw;
}

.img-small{
    height: 8vw;
    padding:.5vw;
    min-height: 6vw;;
}

li{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
}

input[type="radio"]{
    display: none;
    transition: background-color 0.1s ease;
}
input[type="radio"]:checked+img{
    background-color: aliceblue;
    transition: background-color 0.5s ease;
}
main{
    position: relative;
    width: 80vw;
    height: 90vh;
    margin-left: 20vh;
}
iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
        
}
h1{
    font-size: 1.5em;
}
.tooltip-container {
    position: relative; /* For positioning the tooltip */
    display: inline-block; /* Make it inline for wrapping */
}

.tooltip {
    visibility: hidden; /* Hidden by default */
    width: 120px; /* Adjust as needed */
    background-color: black; /* Tooltip background color */
    color: white; /* Tooltip text color */
    text-align: center; /* Center the text */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding for the tooltip */
    position: absolute; /* Position it relative to the container */
    z-index: 1; /* Sit on top */
    bottom: 90%; /* Position above the icon */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center adjustment */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s; /* Fade in effect */
}

.tooltip-container:hover .tooltip {
    visibility: visible; /* Show tooltip on hover */
    opacity: 1; /* Fade in */
}